# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Build output
/build/
/dist/
client/build/

# Coverage
coverage/

# SQLite DBs
database/*.db

# VSCode
.vscode/

# Misc
*.log
*.tgz

# Shopify App Bridge
/shopify.app.toml

# Ignore uploads if you don't want to track user uploads in git
server/uploads/ 